repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      include: \.(yaml|yml)$

- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.2.3
  hooks:
    - id: sqlfluff-lint
      additional_dependencies: ['dbt-bigquery==1.8.1', 'sqlfluff-templater-dbt==3.2.3']
    - id: sqlfluff-fix
      additional_dependencies: ['dbt-bigquery==1.8.1', 'sqlfluff-templater-dbt==3.2.3']
